
<div class="container">
<div class="card">
  <table class="table table-hover shopping-cart-wrap">
    <thead class="text-muted">
    <tr>
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Size</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" width="120">Sub Total</th>
      <th scope="col" width="200" class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>
        <figure class="media">
          <div class="img-wrap"><img src="{{item.product.photo}}" class="img-thumbnail img-sm"></div>
          <figcaption class="media-body">
            <h6 class="title text-truncate">{{item.product.name}}</h6>

          </figcaption>
        </figure>
      </td>
      <td>
        {{item.quantity}}
      </td>
     <td>
        <select class="form-control">
          <option>35</option>
          <option>36</option>
          <option>37</option>
          <option>38</option>
          <option>39</option>
          <option>40</option>
          <option>41</option>
          <option>42</option>
        </select>
      </td>
      <td>
        <div class="price-wrap">
          <var class="price">Rfw {{item.product.price}}</var>
        </div> <!-- price-wrap .// -->
      </td>
      <td>
        <div class="price-wrap">
          <var class="price">{{item.product.price * item.quantity}}</var>
        </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right">
        <a (click)="remove(item.product.id)" class="btn btn-outline-danger"> × Remove</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>Total </strong></td>
      <td class="text-right"><strong>Rfw {{total}}</strong></td>
      <td>
        <button class="btn btn-success btn-sm ml-3">
          <i class="fa fa-shopping-cart"></i> Check out
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div> <!-- card.// -->
</div>


